@font-face {
  font-family: "BPG";
  src: url("/public/assets/fonts/bpg_extrasquare_mtavruli_2009.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  min-height: 100vh;
}

body {
  font-family: "BPG", sans-serif;
  min-height: 100vh;
  background-color: #e0e0e0;
}

main {
  padding: 1.6rem 3rem;
}

.about-title,
.question-title,
.contact-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: normal;
}

.about-textcontent,
.services-textcontent {
  text-align: center;
  background-color: #0569ac;
  padding: 1.4rem 3rem;
  border-radius: 1.3rem;
  color: white;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.125rem;
}

@keyframes serviceAnswer {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes serviceAnswerOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10%);
    opacity: 0;
  }
}

.services-textcontent {
  text-align: left;
  animation-name: serviceAnswer;
  animation-duration: 0.2s;
}

.services-textcontent.opening {
  animation: serviceAnswer 0.2s forwards;
}

.services-textcontent.closing {
  animation: serviceAnswerOut 0.2s forwards;
}

.about-illustration {
  width: 30rem;
  border-radius: 1.5rem;
}

.question-title {
  text-align: left;
  padding-bottom: 0.7rem;
  font-size: 1.8rem;
}

.contact-title {
  text-align: left;
}

.contact-icon {
  width: 3rem;
}

@media only screen and (min-width: 48rem) {
  main {
    padding: 6rem 6.8rem;
  }

  .about-textcontent,
  .services-textcontent {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.225rem;
  }

  .about-illustration {
    width: 47.2rem;
  }

  .question-title {
    font-size: 2.8rem;
  }

  .contact-title {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 90rem) {
  .about-title {
    text-align: left;
  }

  .about-textcontent {
    text-align: left;
  }
}
